// Колір основний
$col-primary-blue: #5956E9;
$col-primary-dark: #2F2F2F;

// Колір додатковий
$col-secondary: #F6F6F6;
$col-secondary-white: #fff;
$col-secondary-grey: #797979;
$col-secondary-grey--2: #808080;


// Колір для рамок кнопки
$col-btn-border: #E0E0E0;
$col-card-border: #DCDCDC;
// Колір для тіні 

$shadow-blue: #1B16FF;
$shadow-pink: #DB14F1;
// Шррифт 
$ff-Mulish: 'Mulish', sans-serif;