// Кнопки 


.btn {

    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;

    }


    &__small {
        font-size: 1.8rem;
        padding: 2rem 4.7rem;
        border-radius: 6.2rem;
        font-size: 1.8rem;
        border: 1px solid $col-btn-border;

        &--dark {
            background-color: $col-primary-dark;
            color: $col-secondary-white;
        }

        &--white {
            background-color: $col-secondary-white;
            color: $col-primary-dark;
        }

        &--blue {
            background-color: $col-primary-blue;
            color: $col-secondary-white;
        }
    }




    &__medium {

        padding: 2.5rem 6.2rem;
        border-radius: 5rem;
        font-size: 2rem;
        border: 1px solid $col-btn-border;



        &--dark,
        &--blue {
            color: $col-secondary-white;
        }

        &--dark {
            background-color: $col-primary-dark;
        }

        &--blue {
            background-color: $col-primary-blue;
        }
    }

    &__large {

        border-radius: 5rem;
        padding: 2.55rem 4.75rem;
        font-size: 2rem;
        border: 1px solid $col-btn-border;

        &--dark {
            background-color: $col-primary-dark;
            color: $col-secondary-white;
        }

        &--white {
            background-color: $col-secondary-white;
            color: $col-primary-dark;
        }
    }
}